<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/index.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
    <body style="background-color: black;">
        <div id="nav" class="nav">
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#services">Features</a></li>
              <li><a href="#contact">Guide</a></li>
            </ul>
          </div>
          <div class="container">
            <div id="home" class="bg home-buttons">
              <div>
                <h1>Swasth Sankhya</h1>
                <span><button onclick="window.location.href='/login'">Login</button> or <button onclick="window.location.href='/signup'">Sign Up</button></span>
              </div>
            </div>
            <div id="about" class="bg">
              <div>
                <h1>Description</h1>
                <span>This serves as a self quantified tracker app that can keep track of your habits and health. Create trackers to keep an eye on your temperature, calories burnt, weight and other stats. Record stats regularly and analyze with trendlines. Sign Up to get started!</span>
                <div class="cards-list">
  
                  <div class="card 1">
                    <div class="card_image"> <img src="https://images.unsplash.com/photo-1592890288564-76628a30a657?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" /> </div>
                    <div class="card_title title-white">
                      <p>Self Tracking</p>
                    </div>
                  </div>
                  
                    <div class="card 2">
                    <div class="card_image">
                      <img src="https://images.unsplash.com/photo-1543627633-0643fe92d06f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=504&q=80" />
                      </div>
                    <div class="card_title title-white">
                      <p>Health & Fitness</p>
                    </div>
                  </div>
                  
                  <div class="card 3">
                    <div class="card_image">
                      <img src="https://images.unsplash.com/photo-1556155092-490a1ba16284?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
                    </div>
                    <div class="card_title">
                      <p>Multile Trackers</p>
                    </div>
                  </div>
                    
                    <div class="card 4">
                    <div class="card_image">
                      <img src="https://images.unsplash.com/photo-1634117622592-114e3024ff27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80" />
                      </div>
                    <div class="card_title title-black">
                      <p>Stats and Trendlines</p>
                    </div>
                    </div>
                  
                  </div>
              </div>
            </div>
            <div id="services" class="bg">
              <div>
                <h1>Features</h1>
                <span>Used for self tracking - tracking habits, activities, other life parameters etc. User can have multiple trackers. User can log to one more tracker at any time. System will track progress over time and shows graphs trend lines etc.
                </span>
                <ul>
                  <li>User login and Sign Up</li>
                  <li>Once logged in, the user is able to create trackers which can be either numeric or multiple choice type.</li>
                  <li>The dashboard shows a list of all trackers, most recent value and last updated time.</li>
                  <li>Upon going to the tracker screen, a line chart for numeric and a scatter plot for multiple choice type tracker is shown, taking time on the x axis.</li>
                  <li>User can update a tracker and their previous logs at any time.</li>
                </ul>
              </div>
            </div>
            <div id="contact" class="bg">
              <div>
                <h1>User Guide</h1>
                <div class="main">
                  <ul class="cards">
                    <li class="cards_item">
                      <div class="card1">
                        <div class="card1_image"><img src="https://i.ibb.co/DtzkbbT/proj1.png"></div>
                        <div class="card1_content">
                          <h2 class="card1_title">1. User Sign Up</h2>
                          <p class="card1_text">Click on home and click on sign up button. Enter username and password and click on sign up. Once your profile is created, you will be redirected to the login page, where you can enter your details and login.</p>
                        </div>
                      </div>
                    </li>
                    <li class="cards_item">
                      <div class="card1">
                        <div class="card1_image"><img src="https://i.ibb.co/t4FDmBr/proj2.png" height="640" width="621"></div>
                        <div class="card1_content">
                          <h2 class="card1_title">2. Dashboard</h2>
                          <p class="card1_text">Once you are logged in, you can see the dashboard. It usually contains the list of trackers that you have created. Here you can navigate to different trackers, update or delete a particular tracker and also update your profile.</p>
                        </div>
                      </div>
                    </li>
                    <li class="cards_item">
                      <div class="card1">
                        <div class="card1_image"><img src="https://i.ibb.co/m5LzQkL/proj3.png"></div>
                        <div class="card1_content">
                          <h2 class="card1_title">3. Add Tracker</h2>
                          <p class="card1_text">By clicking on add tracker button, you will be redirected to a form. Here, you can enter the details about the tracker. Depending on the type of tracker, you will be asked to enter additional information.</p>
                        </div>
                      </div>
                    </li>
                    <li class="cards_item">
                      <div class="card1">
                        <div class="card1_image"><img src="https://i.ibb.co/qkSk7G0/proj4.png"></div>
                        <div class="card1_content">
                          <h2 class="card1_title">4. Logging Values</h2>
                          <p class="card1_text">Action of recording values into a tracker is called logging. Once you have created a tracker, click on it to view it's details and record values.</p>
                        </div>
                      </div>
                    </li>
                    <li class="cards_item">
                      <div class="card1">
                        <div class="card1_image"><img src="https://i.ibb.co/pXKDJDk/proj5.png"></div>
                        <div class="card1_content">
                          <h2 class="card1_title">5. Tracker Screen</h2>
                          <p class="card1_text">Each tracker has details about itself. It also has trendlines plotted with respect to time, and recent logs.</p>
                        </div>
                      </div>
                    </li>
                    <li class="cards_item">
                      <div class="card1">
                        <div class="card1_image"><img src="https://i.ibb.co/xDKpXvh/proj6.png"></div>
                        <div class="card1_content">
                          <h2 class="card1_title">6. All your data</h2>
                          <p class="card1_text">In tracker screen, click on "see all logs" to see all the data recorded in a particular tracker. You can update or delete these logs if you wish.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <br><footer style="color: white;"><center>Swasth Sankhya &copy; 2022 | By Soumya Oruganti</center></footer>
              </div>
            </div>
          </div>
        <script type="text/javascript" src="../static/js/index.js"></script>
    </body>

</html>