<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>User Login</title>
        <link rel="stylesheet" href="../static/css/update_user.css">
    </head>
    <body>
        <div class="circles">
            <div class="circle1"></div>
            <div class="circle2"></div>
        </div>
        <form action="/{{username}}/update" method="POST" id="user-update" class="update-user-form">
            <h1>Update</h1>
            <p>{{message}}</p>
                <label>New Username: </label>
                <input type="text" name="username" value="{{username}}" required />
                <div style="padding-bottom: 30px;">
                <label>New Password: </label>
                <input type="password" name="password"/>
                <button onclick="document.getElementById('user-update').submit();">Update</button>
        </form>
    </body>
</html>